@import "../../scss/config.scss";

body {
  background: $color-brand-primary;
}

.layout {
  &--auth {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    //background: url(/static/background.svg);
    background-position: top center;
    background-repeat: no-repeat;

    &__content {
      width: 100%;
      max-width: 490px;
    }

    &__brand-name {
      @include type-setting(2);
      width: 150px;
      margin: 3rem auto;
      display: block;
      justify-content: center;
      color: $color-brand-name;
    }
  }
}
